.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  height: 100vh;
}

.grid {
  margin: 12px;
  display: grid;
  grid-template-rows: repeat(6, 50px);
  grid-template-columns: repeat(10, 50px);
  gap: 20px;
}

.seat {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid green;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.seat.selected {
  display: flex;
  background-color: green;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}
